body {
    background: black;
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
    color: whitesmoke;
    font-style: italic;
    margin: 0px;
    padding: 0px;
    
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    
    

}
h1 {
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;     /* centraliza na vertical */
    gap: 20px; /* Espaçamento entre os elementos */
    font-size: 40px;
    margin: 0;
    padding: 10px;
}

section {
    background: #0412509a;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 20px;
    padding-left: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    background: linear-gradient(260deg,  #1b37b69c 40%, #b30b0be0 40%,  #1b37b69c 40%, #b30b0be0 80%); /* Gradiente diagonal */
    clip-path: polygon(0% 100%, 0 0, 100% 60); /* Forma de triângulo */

}

.modal {
    display:none;
    
    position:fixed;
    top:0; left:0; 
    width:100%; height:100%;
    background:rgba(0,0,0,0.8);
    justify-content:center;
    align-items:center;
    
}

.logo {
    display: flex;
    justify-content: center; /* centraliza na horizontal */
    align-items: center;     /* centraliza na vertical */
    margin-bottom: 20px;
}
.logo img {
    display: block;  /* transforma a imagem em bloco */
    width: 400px;
    margin: 0 auto;    /* centraliza horizontalmente */
    object-fit: contain;
    
    animation-name: pulso;  /*Nome da animacao*/
    animation-duration: 4s;  /*Duração da animacao*/
    animation-iteration-count: infinite;  /*Repetição infinita*/
    animation-timing-function: ease-in-out;  /*Efeito de suavização*/
    
    
}
.botoesContainer {
    text-align: center; /* Centraliza o conteúdo horizontalmente */
    margin-bottom: 20px; /* Espaçamento inferior */






}
.botoes {
    
   
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px; /* Espaçamento inferior */
    color: whitesmoke;
    border: none; /* Remove a borda padrão */
    border-radius: 15px; /* Bordas arredondadas */
    background-color: #0412509a; /* Cor de fundo */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    transition: background-color 0.3s, color 0.3s; /* Transição suave */
   
    animation-name: cair;  /*Nome da animacao*/
    animation-duration: 4s;  /*Duração da animacao*/
    animation-timing-function: ease-in-out;  /*Efeito de suavização*/
    
}
.botoes:hover {
    background-color: #16297ee0; /* Cor de fundo ao clicar */
}
.botoes.ativo {
    background-color: #7c74e2; /* Cor de fundo ao clicar */
    color: white;
}

.galeria {
    text-align: center;
}





footer {
    text-align: center;
    padding: 10px;
    color: whitesmoke;
}

@keyframes pulso {
    0% {
        transform: scale(0.1);
        
    }
    15% {
        transform: scale(0.35);
    }
    30% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(0.65);
        
    }
    75% {
        transform: scale(0.8);
        
    }
    100% {
        transform: scale(1);
        
    }
}

@keyframes cair {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}